/*-----------------recursos--------------------*/
.contenedorRecursos {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

.contador {
    margin: 10px; /* Espacio entre los elementos */
    color: white;
    margin: 20px;
}

.contador img {
    width: 60px; /* Ajusta el tama침o m치ximo de las im치genes */
    height: 40px; /* Ajusta la altura autom치ticamente */
}


